@model IEnumerable<EmpMgtSys.Models.Employee>

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/IndexStyle.css")" rel="stylesheet" type="text/css" />

<center id="ind"><h2>Employee Record.</h2></center>
@section AddToHead{
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">


}
<body id="tab">
    
        

            <p>
                <button class="btn btn-success">@Html.ActionLink("Create New", "Create")</button>
                
            </p>
            <table class="table">
                <tr>
                    <table id="table"
                           data-toggle="table">
                        <thead>
                            <tr>
                                <th data-field=" Name">&nbsp&nbsp Name</th>
                                <th data-field="FieldExperience">&nbsp&nbspFieldExperience</th>
                                <th data-field="PhoneNumber">&nbsp&nbspPhoneNumber</th>
                                <th data-field="BirthDate">&nbsp&nbspBirthDate</th>
                                <th data-field="DepartmentId">&nbsp&nbspDepartmentId</th>
                            </tr>
                        </thead>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.FieldExperience)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

                
            </table>
            
            
        
    
    </body>
@section scripts {
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script>$(document).ready(function () {
            var $table - $('#table');
            $table.BootstrapTable();
        });</script>
}
